<body>
<div class="chat-container">
  <div class="chat-header">
      <h2>Grupo de Chat</h2>
  </div>
  <div class="chat-messages">
      <div class="message sender">
          <p>Hola, ¿cómo están?</p>
      </div>
      <div class="message receiver">
          <p>Hola, estamos bien, ¿y tú?</p>
      </div>
      <!-- Agrega más mensajes aquí -->
  </div>
  <div class="chat-input">
      <input type="text" placeholder="Escribe tu mensaje...">
      <button>Enviar</button>
  </div>
</div>
</body>   
<router-outlet></router-outlet>