<body>


  <div class="chat-container">
    <div id="menu-lateral">
      <ul>
          <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="home">chat</a></li>
          <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="archivos">Recursos</a></li>
          <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="biblio">Cursos</a></li>
      </ul>
  </div>

  <!-- Contenido Principal -->

    <h1 class="display-1" style="font-family: 'merri'">Help Us</h1>

        <div class="chat-header display-1">
            <h1>Grupo de Chat</h1>
        </div>

        <div class="chat-messages" id="chatDiv" #chatDivElement>

            <div class="message" *ngFor="let message of messages" [ngClass]="{'sender': message.sender, 'receiver': !message.sender}">
                <p class="message-title" [ngClass]="{'receiver-title': !message.sender, 'sender-title': message.sender}">
                        {{ message.sender ? 'Tú' : message.usuario.user }}
                </p>
                <p>{{ message.mensaje }}</p>
            </div>

        </div>
        <div class="chat-foot">
          <form #f="ngForm" (ngSubmit)="enviarMensaje()">
               <div class="row">
                   <div class="col-10">
                       <input type="text" placeholder="Escribe tu mensaje..." name="mensaje" [(ngModel)]="newMensaje.mensaje" required>
                   </div>
                   <div class="col-2">
                   <button type="submit">
                       <i class="fa fa-paper-plane"></i>
                   </button>
                   </div>
               </div>
           </form>
       </div>
    </div>
</body>
<router-outlet></router-outlet>
