<body>


  <div class="chat-container">
    <div id="menu-lateral">
      <ul>
          <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="home">chat</a></li>
          <!--li><a class="link-offset-2 link-underline link-underline-opacity-0" href="archivos">archivos</a></li -->
          <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="biblio">Cursos</a></li>
      </ul>
  </div>
    <!-- Example Code -->

    <div class="card mb-3">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
      preserveAspectRatio="xMidYMid slice" focusable="false"><title>Grado 11</title>
      <rect width="100%" height="100%" fill="#868e96"></rect>
      <image href="../../../../assets/images/once.jpg" width="100%" height="100%" />
      </svg>
      <div class="card-body">
        <h5 class="card-title">GRADO 11</h5>
        <p class="card-text">En esta carpeta encontraras toda la informacion encesaria para ayudarte en 11°, para guiarte en tu aprendizaje y facilitarlo</p>
        <p class="card-text" ><a
          class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
           href="https://drive.google.com/drive/folders/1BtVGwWPs-OrFoRQCjbE2J2SAidgX5TYg?usp=sharing"
           target="_blank">
           Ir a la carpeta >
          </a></p>
      </div>
    </div>

    <div class="card mb-3">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
      preserveAspectRatio="xMidYMid slice" focusable="false"><title>Grado 10</title>
      <rect width="100%" height="100%" fill="#868e96"></rect>
      <image href="../../../../assets/images/once.jpg" width="100%" height="100%" />
      </svg>
      <div class="card-body">
        <h5 class="card-title">GRADO 10</h5>
        <p class="card-text">En esta carpeta encontraras toda la informacion encesaria para ayudarte en 10°, para guiarte en tu aprendizaje y facilitarlo</p>
        <p class="card-text"><a
          class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
           href="https://drive.google.com/drive/folders/1YHgzj3LnqqSNkYTan4-uIWba0dHuaAXi?usp=drive_link"
           target="_blank">
          Ir a la carpeta >
        </a></p>
      </div>
    </div>

    </div>
</body>
<router-outlet></router-outlet>
