<body>


  <div class="chat-container">
    <div id="menu-lateral">
      <ul>
        <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="home">chat</a></li>
        <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="archivos">Recursos</a></li>
        <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="biblio">Cursos</a></li>
      </ul>
    </div>

    <h1 style="font-family: 'merri'; margin: 0% 0% 13% 0%;">Recursos</h1>

    <div class="alert alert-primary" role="alert">

      <a class="fa-solid fa-file-pdf link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="../../../../assets/pdf/Manual de administrador.pdf" style="color: ffffff;" target="_blank">
        Manual de administrador
      </a>
    </div>


    <div class="alert alert-primary" role="alert">

      <a class="fa-solid fa-file-pdf link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="../../../../assets/pdf/Copy of  help us .pdf" style="color: ffffff;" target="_blank">
        Reglas de uso
      </a>
    </div>


    <div class="alert alert-primary" role="alert">

      <a class="fa-solid fa-file-pdf link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="../../../../assets/pdf/colegio unidad pedagogica febre 2020 .pdf" style="color: ffffff;" target="_blank">
        Induccion matematicas
      </a>
    </div>


  </div>
</body>
<router-outlet></router-outlet>
